.recipe-detail-layout {
  display: flex;
  flex-direction: column;
  width: 120rem;
  /*background-color: #f8f9fa;*/
  /*border: 1px solid #adb5bd;*/
  background-color: rgba(32, 32, 32, 0.5);
  border: 1px solid #212529;
  border-radius: 5px;

  padding: 3.2rem 3.2rem 4.8rem 3.2rem;
  margin: 8rem auto;
}

.recipe-detail-manager-wrapper {
  margin-bottom: 2.4rem;
}

.recipe-details {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

.recipe-details > div {
  display: flex;
  width: 50%;
  overflow-y: scroll;
}

.recipe-details h2 {
  background-color: #212529;
  color: #e6fcf5;
  overflow: hidden;

  font-family: Creative, system-ui;
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;

  padding: 2.4rem;
  margin: 1.8rem 0;
}

.recipe-details h3 {
  font-family: Creative, system-ui;
  font-size: 3.6rem;
  /*text-transform: uppercase;*/
  border-bottom: 2px solid #212529;
  margin-bottom: 1.6rem;
}


.recipe-details > div {
  display: flex;
  flex-direction: column;
  min-height: 64rem;
  background-image: url("../../assets/backgrounds/menu_background.jpg");
  background-size: cover;
  /*border: 1px solid #adb5bd;*/
  border: 1px solid #212529;
}
