.recipe-detail-ingredients {
  padding: 1.6rem 3.2rem;
}

.ingredient-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredient-details p {
  font-size: 1.6rem;
}

.ingredient-details span {
  color: #868e96;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}