.recipe-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #adb5bd;
  border-radius: 5px;

  padding: 3.2rem 0 4.8rem;
  margin: 0 auto;
}

.recipe-grid .recipes {
  display: grid;
  grid-template-columns: repeat(3, 320px);

  column-gap: 3.2rem;
  row-gap: 4.8rem;
  margin: 0 auto;
}

.recipe-grid .recipes li {
  align-self: flex-end;
}

.no-recipes {
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 1.6rem;
  color: #868e96;
  padding: 0 24rem;
}