.wrapper {
  cursor: pointer;
  display: block;
  width: min-content;
  text-wrap: nowrap;
  font-style: inherit;
  font-size: 0.75em;
}

.primary {
  transition: background-color 0.5s, border 0.5s;
  font-weight: 500;
  border: 2px solid currentColor;
  border-radius: 9px;
  padding: 0.5em 1.5em;
}

.secondary {
  transition: background-color 0.5s, border 0.5s;
  font-weight: 500;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 0.25em 0.75em;
}

.tertiary {
  transition: color 0.5s;
  font-weight: 400;
  text-decoration: underline;
}

/* Color themes */
.primary.primaryColor {
  background-color: var(--color-teal-800);
  color: var(--color-teal-000);
  border-color: var(--color-teal-700);
}

@media (hover:hover) {
  .primary.primaryColor:hover:not(:active) {
    background-color: var(--color-teal-900);
    border-color: var(--color-teal-900);
  }
}

.tertiary.primaryColor {
  color: var(--color-white-700);
}

.tertiary.secondaryColor {
  color: var(--color-white-500);
}

@media (hover:hover) {
  .tertiary.secondaryColor:hover:not(:active) {
    color: var(--color-white-700);
  }
}