.base {
  width: 2ch;
  aspect-ratio: 3/4;
  font-family: "Righteous", "sans-serif";
  font-size: 1.5em;
  cursor: pointer;
  caret-color: transparent;
  color: var(--color-gray-700);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--color-gray-500);
  border-radius: 9px;

  &::selection {
    background-color: transparent;
  }
}

.error {
  background-color: var(--color-red-000);
  border-color: var(--color-red-900);
}

.error:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--color-red-900);
}