.modal-form-wrapper {
  background-image: linear-gradient(#f8f9fa, #f1f3f5);
  padding: 2rem 4rem;
}

.create-recipe-form {
  display: flex;
  flex-direction: column;
  width: 48rem;
  font-size: 1.4rem;
  /*background-image: url("../../assets/backgrounds/menu_background.jpg");*/
  /*background-size: cover;*/
  /*border: 2px solid #adb5bd;*/
  padding: 4rem 6rem;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button[type="button"] {
  margin-right: auto;
  margin-left: 0;
}

.actions button[type="submit"] {
  margin-left: auto;
  margin-right: 0;
}

.ingredient-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 2.4rem;
}

.ingredient-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #868e96;
  height: 60rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
}

.form-ingredient-box {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 2.4rem;
}

.form-ingredient-top {
  position: relative;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.form-ingredient-top > div{
  flex: 1;
}

.form-ingredient-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;
  color: #c92a2a;
  background-color: unset;
  font-family: inherit;
  font-size: 1.2rem;
  border: 1px solid transparent;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
  padding: 0 0.4rem;
}

@media (hover:hover) {
  .trash:hover {
    border: 1px solid #c92a2a;
    background-color: #c92a2a;
    color: #fff5f5;
  }
}

.form-ingredient-bottom {
  display: flex;
  align-items: center;
}

.no-data {
  text-align: center;
  font-size: 1.6rem;
  color: #868e96;
  margin: auto;
}

.select-placeholder {
  color: #868e96;
}