.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-000);
  border-radius: 9px;
  gap: 2em;
  padding: 5em 4em;
}

.welcomeWrapper {
  text-align: center;
}

.welcomeWrapper h2 {
  font-size: 2em;
}

.welcomeWrapper p {
  font-size: 0.75em;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.actions {
  margin-inline: auto;
}

.wrapper hr {
  border-color: var(--color-gray-700);
}

.swapAuthWrapper {
  text-align: center;
  font-size: 0.75em;
  font-weight: 300;
}
