.button {
  font-size: 1.6rem;
  background-color: #f8f9fa;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 1px solid #212529;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
}

.cta {
  color: #e6fcf5;
  background-color: #087f5b;
  border: 1px solid rgba(0, 0, 0, 0);
}


@media (hover: hover) {
  .button:hover {
    background-color: #212529;
    color: #f8f9fa;
    box-shadow: 0 0 2px rgba(32, 32, 32, 0.7);
  }
  .button:active {
    box-shadow: none;
  }
  .cta:hover {
    background-color: #087f5b;
  }
}

.button:disabled {
  cursor: not-allowed;
  background-color: #868e96;
  color: #adb5bd;
}

