/* BASE */
.button {
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 1px solid #212529;
}

/* SIZES */
.small {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
}

.medium {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
}

.large {

}

/* COLORS */
.regular {
  background-color: #f8f9fa;
}

.submit {
  color: #e6fcf5;
  background-color: #099268;
  border: 1px solid rgba(0, 0, 0, 0);
}

.delete {
  background-color: #ffc9c9;
  color: #c92a2a;
}

@media (hover: hover) {
  .regular:hover {
    background-color: #343a40;
    color: #f8f9fa;
  }
  .submit:hover {
    background-color: #087f5b;
  }
  .delete:hover {
    background-color: #c92a2a;
    color: #fff5f5;
  }
}

.button:disabled {
  cursor: not-allowed;
  background-color: #868e96;
  color: #adb5bd;
}

