.custom-tag {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.custom-tag label {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.custom-tag input,
.custom-tag select {
  font-family: inherit;
  letter-spacing: 0.075rem;
  line-height: 1.3;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.custom-tag input,
.custom-tag select {
  font-size: 1.6rem;
  padding: 0.8rem;
}

.custom-tag input:focus,
.custom-tag select:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 2px #15aabf;
}

.custom-unit-box {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.error,
.error-message {
  color: #c92a2a;
}

.custom-tag input.error {
  outline: none !important;
  box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
  background-color: #fff5f5;
}

.error-message {
  position: absolute;
  top: 100%;
  right: 0;
}
