.recipe-detail-ingredients {
  display: flex;
  padding: 1.6rem 3.2rem;
}

.recipe-detail-ingredients > h3 {
  border-bottom: 1px solid #212529;

  margin-bottom: 1.6rem;
}

.ingredient-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredient-details p {
  font-size: 1.6rem;
}

.ingredient-details span {
  color: #868e96;
  font-size: 1.4rem;
}