* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212529;
  background-color: #e9ecef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font: inherit;
  border-radius: 0;
  border: none;
}

button {
  cursor: pointer;
}

a:link,
a:visited {
  display: inline-block;
  font: inherit;
  text-decoration: none;
  color: inherit;
}