@font-face {
  font-family: "Creative";
  src: local("RibeyeMarrow"), url("fonts/RibeyeMarrow-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212529;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/backgrounds/light_mode_main.svg");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: 300px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font: inherit;
  border-radius: 0;
  border: none;
}

button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

a:link,
a:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

ul,
ol,
menu {
  list-style: none;
}

svg {
  flex-shrink: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error,
.error * {
  color: #c92a2a;
  border-color: #c92a2a;
}

.error input,
.error select {
  outline: none!important;
  border-color: #c92a2a;
  background-color: #fff5f5;
}

.error input:focus,
.error select:focus {
  box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
}