@font-face {
  font-family: "Creative";
  src: local("RibeyeMarrow"), url("fonts/RibeyeMarrow-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212529;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/backgrounds/light_mode_main.svg");
  min-height: 100vh;
  background-size: 300px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font: inherit;
  border-radius: 0;
  border: none;
}

button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

a:link,
a:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

svg {
  flex-shrink: 0;
}

input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}